%div.col-md-12
  %h2.text-center 我發表過的文章
  %table.table
    %thead
      %tr
        %th Content
        %th Group Name
        %th Last Update
        %th{:colspan => "2"}
    %tbody
      = render :partial => "post_item", :collection => @posts, :as => :post
  %div.text-center
    = will_paginate @posts