%div.col-md-12
  %div.group
    = link_to "New group", new_group_path, class: "btn btn-primary pull-right"
  %table.table.table-hover
    %thead
      %tr
        %td Title
        %td Description
        %td Creator
    %tbody
      = render :partial => "group_item", :collection => @groups, :as => :group
  %div.text-center
    = will_paginate @groups