%div.col-md-12
  - if current_user && current_user == @group.user
    %div.group
      = link_to "Edit", edit_group_path(@group), class: "btn btn-primary pull-right"
  %h2
    = @group.title
  %p
    = @group.description