%div.col-md-12
  %h2.text-center 我加入的討論版
  %table.table
    %thead
      %tr
        %th Title
        %th Description
        %th Post Count
        %th Last Update
    %tbody
      = render :partial => "group_item", :collection => @groups, :as => :group
  %div.text-center
    = will_paginate @groups