%nav.navbar.navbar-default{:role => 'navigation'}
  %div.container-fluid
    %div.navbar-header
      %a.navbar-brand{:href => "/"} Rails 101
    %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to '登入', '#'
  